<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITAR <%= pedimento._id %></title>
</head>
<body>
    <h1>agregar pedimento:</h1>
    <form action="/main/<%= pedimento._id%>?_method=PUT" method="POST">
        <label for="numeroPedimento">Numero de pedimento:</label>
        <input type="text" name="pedimento" id="numeroPedimento" placeholder="Numero de pedimento" value="<%= pedimento.pedimento %>">
        <br>
        <label for="numeroContenedor">Numero de contenedor:</label>
        <input type="text" name="contenedor" id="numeroContenedor" placeholder="Contenedor" value="<%= pedimento.contenedor %>">
        <br>
        <label for="numeroInt">Numero de integracion:</label>
        <input type="number" name="numIntegracion" id="numeroInt" placeholder="Numero de integracion" value="<%= pedimento.numIntegracion %>">
        <br>
        <label for="estado">Estado:</label>
        <input type="text" name="estado" id="estado" placeholder="estado" value="<%= pedimento.estado %>">
        <br>
        <label for="fecha">Fecha:</label>
        <input type="text" name="fecha" id="fecha" placeholder="Fecha" value="<%= pedimento.fecha.toLocaleDateString() %>">
        <br>
        <label for="clienteSelector">Cliente:</label>
        <select name="cliente" id="clienteSelector">
        <option value="clienteUno" <%=pedimento.cliente === 'clienteUno' ? 'selected': ''%>>Primer cliente</option>
        <option value="clienteDos" <%=pedimento.cliente === 'clienteDos' ? 'selected': ''%>>Segundo cliente</option>
        <option value="clienteTres" <%=pedimento.cliente === 'clienteTres' ? 'selected': ''%>>Tercer cliente</option>
        </select>    
        <button>GUARDAR</button>
    </form>
</body>
</html>